/* You can add global styles to this file, and also import other style files */

.selected {
    color: white;
    background-color: black;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.dashboardlink {
    background-color: #369;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 25%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
    margin-inline: .5rem auto;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.dashboardlink:hover {
    background-color: #000;
}

button:hover {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
